// General

body,
html,
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;

  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);

  max-width: 1440px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// app
#app {
  overflow: hidden;
}

// Utilities

.d-m {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.d-t {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.d-d {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
