// General

body,
html,
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// Utilities

.d-m {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.d-t {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
