header {
  height: 48px;
  margin: 16px;
  margin-bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  visibility: hidden;

  @media screen and (min-width: 768px) {
    margin: 24px 40px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 24px 165px;
    margin-bottom: 0;
    height: 56px;
  }
}

// logo
.logo__text {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;

  color: #13183f;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 45.36px;
  }
}

// header cta
.header__cta {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;

  background: #13183f;
  border-radius: 28px;

  border: none;

  width: 140px;
  height: 48px;

  cursor: pointer;

  transition: all 0.4s ease;

  &:hover {
    background: #666ca3;
  }

  @media screen and (min-width: 1200px) {
    width: 167px;
    height: 56px;

    font-size: 18px;
    line-height: 28px;
  }
}
