.hero {
  margin-top: 38px;
  visibility: hidden;

  @media screen and (min-width: 768px) {
    display: flex;

    margin-top: 0;

    padding: 0 81px 0px 39px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0px 219px 0px 165px;
  }
}

// hero text part
.hero__text-part {
  padding: 0 16px;

  max-width: 420px;

  margin: 0 auto;

  @media screen and (min-width: 426px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: left;

    padding: 0;
    margin: 0;
    margin-top: 99px;

    flex: 1 0 398px;

    max-width: 700px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 467px;
    flex: unset;

    margin-top: 178px;
  }
}

h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;

  color: #13183f;

  @media screen and (min-width: 1200px) {
    font-size: 56px;
    line-height: 71px;
  }
}

.hero__p {
  margin-top: 26px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  color: #83869a;

  @media screen and (min-width: 768px) {
    margin-top: 25px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 28px;

    margin-top: 29px;

    max-width: 438px;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;

  color: #ffffff;

  border: none;

  width: 167px;
  height: 56px;
  margin-top: 24px;

  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;

  cursor: pointer;

  @media screen and (min-width: 1200px) {
    height: 63px;
    font-size: 18px;
    line-height: 28px;

    margin-top: 40px;
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }
}

// hero illustration part
.hero__illustration-part {
  max-width: 327px;

  margin: 0 auto;
  margin-top: 46px;
  padding: 0 24px;

  @media screen and (min-width: 768px) {
    padding: 0;
    margin: 0;

    margin-left: 33px;

    max-width: unset;
    flex: 1 0 20%;
  }
}

.hero__img-wrapper {
  position: relative;
  height: 301px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: auto;

    justify-content: flex-start;

    margin-top: 50px;

    width: 216.54px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 317px;

    margin-top: 86px;
  }
}

// the two boxes which are with the image
.hero__members {
  padding: 16px 20px;
  position: absolute;
  top: 0px;
  right: 0;

  background: #ffffff;
  box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    top: -14px;
    right: -51px;
  }

  @media screen and (min-width: 1200px) {
    top: 103px;
    right: -118px;
    padding: 20px 57px 19px 24px;

    width: 155px;
  }
}

.hero__members-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;

  color: #83869a;
}

.hero__members-num {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;

  color: #13183f;
}

.hero__course-hours {
  padding: 16px 45px 16px 20px;
  position: absolute;
  bottom: 0px;
  left: 0;

  background: #ffffff;
  box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    bottom: -37px;
    left: -45px;
  }

  @media screen and (min-width: 1200px) {
    padding: 20px 72px 19px 24px;
    left: -120px;
    bottom: 98px;
    width: 199px;
  }
}

.hero__course-hours-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;

  color: #83869a;
}

.hero__course-hours-num {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;

  color: #13183f;
}

// gradient rectangle
.hero__gradient-rectangle {
  position: absolute;
  left: 0px;
  bottom: 0px;

  z-index: -999;

  max-width: unset;
}
