.ppc {
  margin-top: 66px;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    margin-top: 99px;
    padding: 0px 40px 0px 39px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0px 165px;

    margin-top: 110px;
  }
}

.ppc__boxes {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

// first box which represent the title of the section
.ppc__box:nth-child(1) {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;

  width: 343px;
  height: 120px;

  padding: 24px 29px 0px 28px;

  margin-top: 0;

  @media screen and (min-width: 768px) {
    height: 259px;

    padding: 56px 21px 0px 32px;
  }

  @media screen and (min-width: 1200px) {
    height: 322px;

    padding: 64px 32px 0 32px;
  }
}

.ppc__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 32px;
    line-height: 40px;
  }
}

// courses boxes
.ppc__box {
  margin: 0 auto;
  margin-top: 40px;

  height: 259px;
  width: 343px;

  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;

  padding-left: 28px;
  padding-right: 29px;
  padding-top: 1px;

  @media screen and (min-width: 768px) {
    flex: 1 1 40%;
    margin-top: 56px;
    padding-left: 32px;
    padding-right: 21px;
  }

  @media screen and (min-width: 1200px) {
    flex: 1 1 30%;

    margin-top: 0;

    height: 322px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 32px;
  }

  // styling with nth-child selectors
  &:nth-child(1),
  &:nth-child(2) {
    @media screen and (min-width: 768px) {
      margin-top: 0px;
    }
  }

  &:nth-child(even) {
    @media screen and (min-width: 768px) {
      margin-left: 11px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    @media screen and (min-width: 1200px) {
      margin-top: 80px;
    }
  }

  &:nth-child(3),
  &:nth-child(6) {
    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(5),
  &:nth-child(6) {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.ppc__box__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;

  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);

  border-radius: 50%;

  margin-top: -25px;
}

.ppc__box__title {
  margin-top: 24px;

  font-weight: 800;
  font-size: 20px;
  line-height: 25px;

  color: #13183f;

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    line-height: 30px;

    margin-top: 32px;
  }
}

.ppc__box__para {
  margin-top: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  color: #83869a;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 28px;

    margin-top: 24px;

    height: 112px;
  }
}

.ppc__box__anchor {
  display: block;
  margin-top: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  color: #f74780;
}
